.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 100;
    background-color: #171717;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    .burger-icon{
        font-size: 40px;
        color: #ffffff;
    }
}